/* .about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	margin: auto;
	max-width: 90%;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid yellow;
} */

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
}

.about-content {
	padding: 50px;
}
