/* 
*	Google Fonts:
*			font-family: 'Open Sans', sans-serif;
*			font-family: 'Roboto', sans-serif;
*
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
		url("../images/black-textile-41949.jpg");
	background-position: center;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	font-size: 1.2em;
	color: #f3f3f3;
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* padding-bottom: 60px; */
	/* border: 1px solid green; */
}

main {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

.main-body {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 90%;
	margin: 0 auto;
}

/* Media Queries */
@media (min-width: 640px) {
	.body {
		background-repeat: no-repeat;
	}
}
